<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link rel="stylesheet" type="text/css" href="../css/productStore.css">
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/grounding.css">
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <link rel="stylesheet" type="text/css" href="../css/personnel.css">
    <link rel="stylesheet" href="../css/purchase.css">
    <link rel="stylesheet" href="../css/supplier.css">
    <link rel="stylesheet" href="../css/inbound.css">
    <!--<link rel="stylesheet" href="../css/manifest.css">-->
    <link rel="stylesheet" href="../libs/bootstrap/css/bootstrap-datetimepicker.min.css">
    <script src="../libs/jquery/jquery-2.1.1.min.js"></script>
    <script src="../libs/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../libs/angular/angular.min.js"></script>
    <script src="../libs/angular-ui/angular-ui-router.min.js"></script>
    <script src="../controllers/productStoreControllers.js"></script>
    <script src="../libs/angular/angular.global.js"></script>
    <script src="../controllers/supplier.js"></script>
    <script src="../controllers/purchase.js"></script>
    <script type="text/javascript" src="../controllers/Bound/inbound.js"></script>
    <script src="../libs/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../controllers/manifest.js"></script>
    
</head>
<body ng-app = "indexApp">
    <div  ng-controller="indexController">   
        <div class="index-header">
            <div class="header-left">
                <i class="iconfont icon-shouye"></i>
                <span>tan90零售系统</span>
            </div>
            <div class="theme">
                <span class="themeChild" ng-bind="features.totalFeatures"></span>
                <span class="themeChild" ng-bind="features.childFeatures"></span>
            </div>
            <div class="index-login-box">
                <ul class="nav navbar-nav navbar-right" >
                    <li id="fat-menu"  class="dropdown">
                        <a id="drop3" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                            <i class="iconfont icon-shezhi"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="drop3">
                            <li class="indexLoginLi">
                                <span>账号：</span>
                                <input class="indexLoginInput" disabled ng-model="account.name">
                            </li>
                            <li class="indexLoginLi">
                                <span>店名:</span>
                                <input class="indexLoginInput" disabled ng-model="account.shopName">
                            </li>
                            <li role="separator" class="divider"></li>
                            <li class="indexLoginLi "><botton class="indexLoginButton btn" ng-click="indexLoginButton()">退出登录</botton></li>
                        </ul>
                    </li>
                </ul>
            </div>
                
        </div>
        <div class="index-body-left">
            <div class="index-body-left-head">
                <span class="indexLeftSpan">功能列表</span>
                <i class="iconfont icon-suoyougongnengshouqi"></i>
            </div>
            <div class="index-body-left-list">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                                    产品库管理
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <ul>
                                    <li class="indexLeftBodyLi indexLeftBodyLi1">
                                        <a href="#/productStore" ng-click="changeHeadWord()">商品资料</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    采购管理
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <ul>
                                    <li class="indexLeftBodyLi"><a href="#/purchase" ng-click="cgglbjj()">采购单</a></li>
                                    <li class="indexLeftBodyLi"><a href="#/supplier" ng-click="cgglgysbjj()">供应商</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    收货管理
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <ul>
                                    <li class="indexLeftBodyLi" ng-click="shglshdbjj()"><a href="#/manifest">收货单</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    入库管理
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <ul>
                                    <a href="#/inbound"><li class="indexLeftBodyLi" ng-click="rkglrkqd()">入库清单</li></a>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFive">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    上架管理
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <ul>
                                    <li class="indexLeftBodyLi">
                                        <a href="#/grounding" ng-click="changeHeadWordToSjqd()">上架清单</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                     <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    员工管理
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <ul>
                                    <li class="indexLeftBodyLi"><a href="#/personnel" ng-click="ygglygzl()">员工资料</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    收银系统
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <ul>
                                    <li class="indexLeftBodyLi">
                                        <a href="../posSystem/posIndex.html" ng-click="syxtbjj()">进入收银系统</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="indexBody">
        <div data-ui-view=""></div>
    </div>
    <script type="text/javascript">
        //===============xlh==========================//
             $(".datetimeStart").datetimepicker({
                format: 'yyyy-mm-dd',
                minView:'month',
                language: 'zh-CN',
                autoclose:true,
                startDate:new Date()
            }).on("click",function(){
                $(".datetimeStart").datetimepicker("setEndDate",$(".datetimeEnd").val())
            });
            $(".datetimeEnd").datetimepicker({
                format: 'yyyy-mm-dd',
                minView:'month',
                language: 'zh-CN',
                autoclose:true,
                startDate:new Date()
            }).on("click",function(){
                $(".datetimeEnd").datetimepicker("setStartDate",$(".datetimeStart".val()))
            });
            //======================xlh  end==================//


        var indexApp = angular.module('indexApp', ['ui.router','productStoreApp','globalapp','supplier','purchase','mainApp','manifesrApp']);

        indexApp.controller('indexController', ['$scope', '$http', function($scope, $http){
            //=======baseUrl=======//
            indexApp.value('baseUrl','http://localhost:888/');
            $scope.changeHeadWord = function(){
                $scope.features = {
                    totalFeatures: "商品",
                    childFeatures: "商品资料",
                }
            }
            $scope.changeHeadWordToSjqd = function(){
                $scope.features = {
                    totalFeatures: '上架管理',
                    childFeatures: '上架清单',
                }
            }
            $scope.cgglbjj = function(){
                $scope.features = {
                    totalFeatures: '采购管理',
                    childFeatures: '采购单',
                }
            }
            $scope.cgglgysbjj = function(){
                $scope.features = {
                    totalFeatures: '采购管理',
                    childFeatures: '供应商',
                }
            }
            $scope.shglshdbjj = function(){
                $scope.features = {
                    totalFeatures: '收货管理',
                    childFeatures: '收货单',
                }
            }
            $scope.rkglrkqd = function(){
                $scope.features = {
                    totalFeatures: '入库管理',
                    childFeatures: '入库清单',
                }
            }
            $scope.ygglygzl = function(){
                $scope.features = {
                    totalFeatures: '员工管理',
                    childFeatures: '员工资料',
                }
            }
            $scope.syxtbjj = function(){
                $scope.features = {
                    totalFeatures: '收银系统',
                    childFeatures: '进入收银系统',
                }
            }
            $scope.account = {
                name: window.localStorage.getItem( 'user' ) || 'bjjbjj',
                shopName: window.localStorage.getItem( 'store' ) || 'tan90'
            }
            $scope.indexLoginButton = function(){
                console.log(123)
                window.localStorage.removeItem( 'user' );
                window.localStorage.removeItem( 'store' );
                window.location = '/ProjectFour/ProjectFour/projectFour/src/templates/login.html';

            }
        }])
        indexApp.config(function($stateProvider,$urlRouterProvider){
            $stateProvider
                
                .state("productStore",{
                    url:"/productStore",
                    templateUrl:"productStore.html",
                    controller:'productStore'
                })
                .state("/grounding", {
                    url: "/grounding",
                    templateUrl: "grounding.html",
                    controller: 'groundController'
                })

                .state("/personnel", {
                    url: "/personnel",
                    templateUrl: "personnel.html",
                    controller: 'personnelController'
                })

                .state("/supplier", {
                    url: "/supplier",//当 url 为#/pagetab
                    templateUrl: "supplier.html?_" + Math.random(),
                    controller: 'supplier'
                })
                .state("/purchase", {
                    url: "/purchase",
                    templateUrl: "purchase.html?_" + Math.random(),
                    controller: 'purchase'
                })

                .state("inbound",{
                    url:"/inbound",
                    templateUrl:"../controllers/Bound/inbound.html",
                    controller:'inBound'
                })
                // .stage("manifest",{
                //     url:"/manifest",
                //     templateUrl:"manifest.html",
                //     controller:"manifesrController"
                // })
        });
        //==================xlh=====================//

        
        indexApp.controller('manifesrController', ['$scope', '$http', function($scope, $http){
            
            
        }])
        //==================xlh end================//
        //=============xrt=========================//
        indexApp.controller('groundController', ['$scope','$http','baseUrl',function($scope,$http,baseUrl){
                $scope.msg = {
                    isGround:'已上架',
                }

                $scope.checkBtn = function(){ 
                    $http({
                        methods:'get',
                        url: baseUrl + 'getsupplier',
                    }).then(function(res){
                        console.log('res->',res)
                    }); 
                }

        }]);

        indexApp.controller('personnelController', ['$scope','$http','baseUrl',function($scope,$http,baseUrl){
                $scope.used = {
                    isStart:'启用',
                }
          
                $scope.checkBtn = function(){ 
        // $scope.checkBtn = function(){ 
                    $http({
                        methods:'get',
                        params:{},
                        url: baseUrl + 'getpersonnel',
                    }).then(function(res){
                        $scope.dataset = res.data;
                        console.log('res->',res,'dataset->',$scope.dataset);

                    }); 
                }

        }]);




        //===================xrt end==================//

        



        indexApp.controller('productStore',['$scope','$http','openProductStoreBjj','openAddUnit','closeAddUnit','openCategory','closeCategory','addTproducts','delAddProducts','addTunit','addTcategory','addProductContentBtn','addTsupplier','addUnitBtn','saveCategory','lookForMsg',function(bjscope,bjhttp,openProductStoreBjj,openAddUnit,closeAddUnit,openCategory,closeCategory,addTproducts,delAddProducts,addTunit,addTcategory,addProductContentBtn,addTsupplier,addUnitBtn,saveCategory,lookForMsg){
            //点击添加商品
            bjscope.addProductContentBtn = function(){
                addProductContentBtn.addProductContentBtn(bjscope,bjhttp,function(data){
                    addTproducts.addTproducts(bjhttp,function(data){
                        bjscope.tprodata = data
                    });
                })
                confirm('保存成功')
                addTproducts.addTproducts(bjhttp,function(data){
                    bjscope.tprodata = data
                });
            }
            
            //点击添加单位
            bjscope.addUnitBtn = function(){
                addUnitBtn.addUnitBtn(bjscope,bjhttp,function(data){
                })
                confirm('添加成功')
                addTunit.addTunit(bjhttp,function(data){
                    bjscope.tunit = data
                    bjscope.lookUnitNum = data.length;
                });
            }
            //点击搜索
            lookForMsg
            bjscope.lookForMsg = function(){
                lookForMsg.lookForMsg(bjscope,bjhttp,function(data){
                    // console.log(data)
                    var _data = data;
                    addTproducts.addTproducts(bjhttp,function(data){
                        bjscope.tprodata = _data
                    });
                    // bjscope.tprodata = data

                })
                
            }
            //打开增加商品栏
            
            bjscope.openAddProduct = function(){
                bjscope.right = $('.addProductStore').css("right")
                // console.log(133)
                bjscope.result = openProductStoreBjj.openAddProduct(bjscope.right);
                $('.addProductStore').css("right",bjscope.result)
            }
            //打开增加单位栏
           bjscope.openAddUnit = function(){
                bjscope.right = $('.addUnit').css("right")
                bjscope.result = openAddUnit.openAddUnit(bjscope.right);
                $('.addUnit').css("right",bjscope.result)
            }
            //关闭增加单位栏
            bjscope.closeAddUnit = function(){
                bjscope.right = $('.addUnit').css("right")
                bjscope.result = closeAddUnit.closeAddUnit(bjscope.right);
                $('.addUnit').css("right",bjscope.result)
            }
            //打开增加商品类别栏
            bjscope.openCategory = function(){
                bjscope.right = $('.category').css("right")
                bjscope.result = openCategory.openCategory(bjscope.right);
                $('.category').css("right",bjscope.result)
            }
            //关闭增加商品类别栏
            bjscope.closeCategory = function(){
                
                bjscope.right = $('.category').css("right")
                bjscope.result = closeCategory.closeCategory(bjscope.right);
                $('.category').css("right",bjscope.result)
            }
            //关闭增加商品类别栏
            bjscope.delAddProducts = function(){
                bjscope.right = $('.addProductStore').css("right")
                bjscope.result = delAddProducts.delAddProducts(bjscope.right);
                $('.addProductStore').css("right",bjscope.result)
            }

           //请求商品库数据
            addTproducts.addTproducts(bjhttp,function(data){
                bjscope.tprodata = data
              
                //  console.log(bjscope.tprodata)
            });
            
            //请求单位表格数据
            addTunit.addTunit(bjhttp,function(data){
                bjscope.tunit = data
                bjscope.lookUnitNum = data.length;
                //  console.log(bjscope.tunit)
            });
            //请求商品类别表格数据
            addTcategory.addTcategory(bjhttp,function(data){
                bjscope.tcategory = data
                bjscope.lookCategoryNum = data.length;
                //  console.log(bjscope.tcategory)
            });
            //请求供应商数据
            addTsupplier.addTsupplier(bjhttp,function(data){
                bjscope.tsupplier = data
                 console.log(bjscope.tsupplier)
            });
            //点击编辑商品
            // bjscope.resetbjProduct = function(){
            //     console.log(this)
            // }
            
            //储存商品类型
            bjscope.saveCategory = function(){
                saveCategory.saveCategory(bjscope,bjhttp,function(data){
                })
                confirm('添加成功')
                addTcategory.addTcategory(bjhttp,function(data){
                    bjscope.tcategory = data
                    bjscope.lookCategoryNum = data.length;
                    //  console.log(bjscope.tcategory)
                });
            }
        }])
        

    </script>
</body>
</html>