<div ng-app="inbound" ng-controller="studentController">
<div class="bs-example" data-example-id="simple-table">
<div>
    <div class="form-group">
        <div class="col-sm-3"><label>productId：<input type="text" ng-model="username"></label></div>
        <div class="col-sm-3"><label>inboundId：<input type="text" ng-model="phone"></label></div>
        <div class="col-sm-3"><label>outboundId：<input type="text" ng-model="mail"></label></div>
        <div class="col-sm-3"><input type="button" class="btn btn-info" value="搜索" ng-click="search()"></div>
    </div>        
    <div class="bs-example" data-example-id="simple-table" >
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th ng-repeat="(key, value) in dataset[0]" ng-bind="key"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in dataset">
                    
                    <td ng-repeat="(key, value) in obj" ng-bind="value"></td>
                </tr>
            </tbody>
        </table>             
    </div>
</div>
</div>
</div>

