<link rel="" type="" href="">
<div  ng-controller="inBound" class="inbound-main">
    
<div>
    <!--搜索操作-->
    <div class="bs-example" data-example-id="simple-table">
    <div class="form-group">
        <div class="col-sm-3"><label>productId：<input type="text" ng-model="username"></label></div>
        <div class="col-sm-3"><label>inboundId：<input type="text" ng-model="phone"></label></div>
        <div class="col-sm-3"><label>outboundId：<input type="text" ng-model="mail"></label></div>
        <div class="col-sm-3"><input type="button" class="btn btn-info" value="搜索" ng-click="search()"></div>
    </div>  
    </div>
<!--显示数据-->
    <div  class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th ng-repeat="(key, value) in dataset[0]" ng-bind="key"></th>
                    <th>编辑</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in dataset">
                    <td ng-repeat="(key, value) in obj" ng-bind="value"></td>
                    <td><input type="button" class="btn btn-info" value="编辑" ng-click="change()" />
                        <input type="button" class="btn btn-info btn-danger" value="删除" ng-click="delete()">
                    </td>
                </tr>
            </tbody>
        </table>             
    </div>
</div>

<div class="myChange" ng-show="myChange">
<div class="panel panel-primary">
  <div class="panel-heading">Panel heading without title <i class="close" ng-click="hideing()">X</i></div>
  <span ng-repeat="obj in dataset">
<input type="text" ng-repeat="(key, value) in obj" placeholder="" ng-class="value" ng-model="value">
</span>

</div>


</div>
</div>
<input type="button" value="测试" ng-click="test()">
</div>

